body {
    background-image: url(other.jpg); 
    background-size: cover;
} 

@font-face {
  font-family: "FreeMono";
  src: url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap') format('truetype');
}


header .navbar-collapse .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

header .navbar-collapse .nav li {
  flex: 1;
  text-align: center;
  list-style-type: none;
}

header .navbar-collapse .nav li a {
  color: #FEA501;
  display: block;
  padding: 10px;
  text-decoration: none;
  font-family: "FreeMono", monospace;
}

.additional-text {
  text-align: center;
  color: #FEA501;
  font-size: 62px;
  font-family: "FreeMono", monospace;
}


 .grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  width 80%;
  margin: 0 auto
}

.grid-item {
  text-align: center;
}

.text-below-image {
  color: #FEA501; /* Change to desired color */
}

img {
  width: 30%;
  height: auto;
}
