body {
    background-image: url(Untitled-1.jpg); 
    background-size: cover;
} 

@font-face {
  font-family: "FreeMono";
  src: url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap') format('truetype');
}

.container {
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.animated-text {
  font-size: 60px;
  color: #FEA501;
  font-family: "FreeMono", monospace;
  animation: growAndShrink 4s ease-in-out infinite;
  text-align: center;
}

@keyframes growAndShrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

header .navbar-collapse .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

header .navbar-collapse .nav li {
  flex: 1;
  text-align: center;
  list-style-type: none;
}

header .navbar-collapse .nav li a {
  color: #FEA501;
  display: block;
  padding: 10px;
  text-decoration: none;
  font-family: "FreeMono", monospace;
}
