body {
    background-image: url(https://r4.wallpaperflare.com/wallpaper/285/256/939/bitcoin-money-wallpaper-f74f82a40f75df0acf22e441218157c5.jpg?timestamp=1674849394912);
    background-repeat: no-repeat;
    background-size: cover;
}
