body {
    background-image: url(Untitled-1.jpg); 
    background-size: cover;
} 

@font-face {
  font-family: "FreeMono";
  src: url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap') format('truetype');
}

body .center-text {
      text-align: center;
      margin: auto;
      position: absolute;
      top: 25%;
      font-family: "FreeMono", monospace;
      font-size: 92px;
      color: #FEA501;
      text-shadow: 2px 2px #5AACDB;
      transform: translate(-50%, -50%);
    }

@keyframes growShrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

h1 {
  animation: growShrink 3s ease-in-out infinite;
  color: #FEA501; /* Change this to desired color */
  text-align: center;
  font-family: "FreeMono", monospace;
  position: absolute;
      top: 25%;
  margin: auto;
  text-shadow: 2px 2px #5AACDB;
  font-size: 68px;
}

header .navbar-collapse .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

header .navbar-collapse .nav li {
  flex: 1;
  text-align: center;
  list-style-type: none;
}

header .navbar-collapse .nav li a {
  color: #FEA501;
  display: block;
  padding: 10px;
  text-decoration: none;
  font-family: "FreeMono", monospace;
}
